.button {
    -fx-background-color: transparent;
    -fx-text-fill: transparent;
    -fx-font-weight: bold;
    -fx-border-width: 2;
}

.button:hover {
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-background-color: transparent;
    -fx-text-fill: black;
}

.root {
    -fx-background-color: #f7e2a8;
    -fx-title-bar-background-color: #f7e2a8;
}

.text, .text-input, .label, .button {
    -fx-text-fill: #000;
    -fx-font-family: "Segoe Script";
}

.label {
    -fx-border-style: none none none none;
    -fx-border-width: 0 0 0 0;
    -fx-border-color: #000;
}

.button, .text-input {
    -fx-border-style: solid;
    -fx-border-width: 2;
    -fx-border-color: transparent;
}

.scroll-pane .viewport {
    -fx-background-insets: 0;
    -fx-background-color: transparent;
    -fx-border-color: black;
    -fx-border-width: 1px;
}

#timestampLable {
    -fx-border-style: none none none none;
}

.scroll-pane > .scroll-bar:vertical {
    -fx-background-color: #f7e2a8;
    -fx-opacity: 0;
}

.scroll-pane > .scroll-bar:vertical:hover {
    -fx-opacity: 1;
}

.scroll-pane > .scroll-bar:horizontal {
    -fx-background-color: #f7e2a8;
    -fx-opacity: 0;
}

.scroll-pane > .scroll-bar:horizontal:hover {
    -fx-opacity: 1;
}

.scroll-pane > .scroll-bar:vertical > .thumb {
    -fx-background-color: black;
    -fx-shape: "M 0 0 L 10 0 L 10 60 L 0 60 Z";
}
.text-field {
    -fx-background-color: #f7e2a8;
    -fx-border-color: black;
    -fx-border-width: 0 0 1 0;
    -fx-font-family: "Segoe Script";
}

.date-picker {
    -fx-background-color: #f7e2a8;
}

.date-picker .text-field {
    -fx-background-color: #f7e2a8;
}

/* Hintergrundfarbe des Kalenders */
.date-picker-popup {
    -fx-background-color: #f7e2a8;
}

/* Farbe des Datums-Icons */
.date-picker .arrow-button {
    -fx-background-color: #f7e2a8;
}

/* Farbe der Outlines */
.date-picker > .content > .arrow-button {
    -fx-background-color: transparent;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-background-radius: 0;
    -fx-border-color: black;
    -fx-border-width: 0 0 1 0;
    -fx-padding: 0.166667em 0.166667em 0.25em 0.166667em; /* 2 2 3 2 */
}

/* Farbe der Datumsauswahl */
.date-picker-popup > .month-year-pane > .label {
    -fx-text-fill: black;
}

/* Farbe der ausgewählten Tage */
.date-picker-popup > .calendar-grid > .day-cell.selected .date-cell {
    -fx-background-color: red;
}
