.text-area * {
    -fx-background-color: #F7E2A8; /* Hintergrundfarbe */
}

.text-area {
    -fx-border-color: black;
    -fx-border-width: 1; /* Standardmäßig kein Border */

}



.text-area:invalid {
    -fx-border-color: red; /* Wenn ungültig, dann roter Border */
    -fx-border-width: 2px;
}

#todoDescription {
    -fx-background-color: #F7E2A8; /* Hintergrundfarbe */

}