#openCreateProjectWindowButton,
#openProjectButton,
#timerStartButton,
#timerStopButton,
#timerResetButton,
#openCreateTodoWindowButton,
#newProjectSubmitButton,
#newTodoSubmitButton {
    -fx-background-color:
        linear-gradient(#b6f3fa, #87cdfc);
}

#openCreateProjectWindowButton:hover,
#openProjectButton:hover,
#timerStartButton:hover,
#timerStopButton:hover,
#timerResetButton:hover,
#openCreateTodoWindowButton:hover,
#newProjectSubmitButton:hover,
#newTodoSubmitButton:hover {
    -fx-background-color:
        linear-gradient(#91dcfa, #5d9cfa);
}

#deleteProjectButton,
#deleteTodoButton {
    -fx-background-color:
        linear-gradient(#fac4b6, #fd8787);
}

#deleteProjectButton:hover,
#deleteTodoButton:hover {
    -fx-background-color:
        linear-gradient(#fa9494, #fa6464);
}

#deleteProjectButton,
#deleteTodoButton,
#openCreateProjectWindowButton,
#openProjectButton,
#timerStartButton,
#timerStopButton,
#timerResetButton,
#openCreateTodoWindowButton {
-fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 5, 0.0, 0, 1);
}

#todoItemHboxOne,
#todoItemHboxTwo,
#projectItemHbox {
    -fx-background-color: #ffff99;
}

/* Style.css */
.root {
    /* Hintergrundfarbe (gelbliche Farbe eines Post-its) */
    -fx-background-color: #ffff99;
}

.text, .text-input, .label, .button {
    /* Schriftfarbe (schwarz) */
    -fx-text-fill: #000;
    /* Schriftart (ein Beispiel für eine Handschrift-ähnliche Schriftart, die nicht extra installiert werden muss) */
    -fx-font-family: "Segoe Script";
}

.label {
    /* Border-Style für Labels */
    -fx-border-style: none none solid none;
    /* Border-Breite für Labels */
    -fx-border-width: 0 0 1px 0;
    /* Border-Farbe für Labels */
    -fx-border-color: #000;
}

.button, .text-input {
    /* Unsichtbare Border für Buttons und Text Inputs */
    -fx-border-style: none;
}

.scroll-pane .viewport {
    -fx-background-insets: 0;
    -fx-background-color: transparent;
}