#openCreateProjectWindowButton,
#openProjectButton,
#timerStartButton,
#timerStopButton,
#timerResetButton,
#openCreateTaskWindowButton,
#newProjectSubmitButton,
#newTaskSubmitButton {
    -fx-background-color:
        linear-gradient(#b6f3fa, #87cdfc);
}

#openCreateProjectWindowButton:hover,
#openProjectButton:hover,
#timerStartButton:hover,
#timerStopButton:hover,
#timerResetButton:hover,
#openCreateTaskWindowButton:hover,
#newProjectSubmitButton:hover,
#newTaskSubmitButton:hover {
    -fx-background-color:
        linear-gradient(#91dcfa, #5d9cfa);
}

#deleteProjectButton,
#deleteTaskButton {
    -fx-background-color:
        linear-gradient(#fac4b6, #fd8787);
}

#deleteProjectButton:hover,
#deleteTaskButton:hover {
    -fx-background-color:
        linear-gradient(#fa9494, #fa6464);
}

#deleteProjectButton,
#deleteTaskButton,
#openCreateProjectWindowButton,
#openProjectButton,
#timerStartButton,
#timerStopButton,
#timerResetButton,
#openCreaeTaskWindowButton {
-fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 5, 0.0, 0, 1);
}

#taskItemHboxOne,
#taskItemHboxTwo,
#projectItemHbox {
    -fx-background-color: #ffffff
}